.container {
  flex: 1;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1a1a1a;
}

.canvas {
  transform-origin: center center;
  image-rendering: high-quality;
}
